<div class="full_banner">
  <%= image_tag "banner.jpg"%>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="single_caption">
          <h1>Events Calendar</h1>
        </div><!--end single caption-->
      </div>
    </div>
  </div>
</div><!--end full banner-->
<div class="calendar_outer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="event_calendar">
          <div id='calendar'></div>
        </div><!--end event_calendar-->
      </div><!--end col-xs-12-->
    </div><!--end row-->
  </div><!--end container-->
</div><!--end calendar outer-->


<script type="text/javascript">
  $(document).ready(function(event,jsEvent,ui,view){
    $('#calendar').fullCalendar({
      header:{
        left:'prev,next',
        center:'title'
      },
      defaultDate:'2018-11-21',
      editable:true,
      eventLimit:true,
      events: '/events/event_calendar.json'
    });
    // $('a.fc-event').attr('href','/single-event');
  });
</script>