<div class="mainContent clearfix">
  <div class="container">

    <div class="upcoming_events event-col">
      <div class="row clearfix">

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="/single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-4">
          <div class="related_post_sec single_post">
            <span class="date-wrapper">
              <span class="date"><span>24</span>January</span>
            </span>
            <div class="rel_right">
              <h4><a href="single-event">Lorem Ipsum dolar simt Amet simply dummy Text Lorem Ipsum dolar</a></h4>
              <div class="meta">
                <span class="place"><i class="fa fa-map-marker"></i>Main Campus</span>
                <span class="event-time"><i class="fa fa-clock-o"></i>11.00 pm</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <a href="single-event" class="btn btn-default commonBtn">view Detals</a>
            </div>
          </div>
        </div>

      </div><!-- row clearfix -->
    </div>

  </div><!-- container -->
</div><!-- mainContent -->
