<div class="single_banner">
  <div class="container">
    <div class="single_banner_inner">
      <%= image_tag "inter-pic.jpg"%>
      <div class="single_caption">
        <p style="background-color: #a61014" class="text-white">SU Diploma and Degree courses are recognised for advanced entry into various Bachelor of Science Degree courses in a number of universities. Students successfully completing the Diploma are eligible for entry into the second year and those with Level 2 for entry into the final year.</p>
      </div><!--end single caption-->
    </div>
  </div><!--end container-->
</div>
<div class="content_top clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="content_left features">
          <p>In order that all applications are processed smoothly, you must ensure that the following information is fully understood and if in doubt, please contact the SU Student Services.</p>
          <ul class="list-item">
            <li>Frequently asked questions</li>
            <li>It’s a complete solution for your college website</li>
            <li>Applying for admission</li>
            <li>Accepting or declining an offer of admission</li>
            <li>Visas</li>
            <li>Accommodation</li>
            <li>Induction program</li>
            <li>University presentations</li>
            <li>Further information</li>
          </ul>
        </div><!--end content left-->
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="content_right">
          <div class="banner" id="about_banner">
            <ul class="slides">
              <li>
                <%= image_tag "about-slide-01.jpg"%>
                <div class="about_caption">
                  <h2> Dedicated support stuffs for students</h2>
                </div><!--end banner_caption-->
              </li>

              <li>
                <%= image_tag "about-slide-02.jpg"%>
                <div class="about_caption">
                  <h2>Nice classrooms with wifi</h2>
                </div><!--end banner_caption-->
              </li>

              <li>
                <%= image_tag "about-slide-03.jpg"%>
                <div class="about_caption">
                  <h2>Rich library - open 24/7</h2>
                </div><!--end banner_caption-->
              </li>
            </ul>
          </div><!--end banner-->
        </div><!--end content left-->
      </div>
    </div><!--end row-->
  </div><!--end container-->
</div>